---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import Hero from "../components/Hero.astro";
import Section1 from "../components/Section1.astro";
import Section2 from "../components/Section2.astro";
import Section3 from "../components/Section3.astro";
import Section4 from "../components/Section4.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <meta
      name="description"
      content="Explora la crisis política en Portugal a través de nuestro innovador docu-web, parte de un proyecto de maestría en periodismo de la UOC. Sumérgete en narrativas multimedia profundas, análisis expertos y testimonios exclusivos que revelan las complejidades y el impacto de la situación actual en la sociedad portuguesa. Descubre más en nuestra plataforma interactiva."
    />
    <title>Crisis en Portugal</title>
  </head>
  <body>
    <Header />
    <Hero />
    <Section3
      video="videos/dimision_costa.mp4"
      poster="images/poster_costa.png"
    />
    <Section1 />
    <Section2 />
    <Section3
      video="videos/reacciones.mp4"
      poster="images/poster_reacciones.png"
    />
    <Section4 />
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
