---
import "../styles/global.css";
import "../styles/pages.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Equipo</title>
  </head>
  <body>
    <main class="page-continer">
      <h1>Equipo 2</h1>
      <div class="team">
        <p>Claudia Álvarez de la Rosa</p>
        <p>Iván Calatayud Palacios</p>
        <p>Gabriel Domínguez Durán</p>
      </div>
      <a href="/">Home</a>
    </main>
  </body>
</html>
