---
import Arrow from "./Arrow.astro";
---

<style>
  .hero {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0;
    overflow: hidden;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero-wrapper {
    display: grid;
    place-content: center;
    min-height: 100vh;
    padding: 0 1rem;
    font-family: "Oswald", sans-serif;
    font-size: clamp(1.5rem, 16vw, 15rem);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-color);
  }
  .hero-wrapper > div {
    grid-area: 1/1/-1/-1;
  }
  .hero-top {
    clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
  }
  .hero-bottom {
    clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
    color: transparent;
    background: linear-gradient(177deg, black 53%, var(--primary-color) 65%);
    background-clip: text;
    -webkit-background-clip: text;
    transform: translateX(-0.02em);
  }
</style>
<main>
  <div class="hero">
    <section class="hero-wrapper">
      <div class="video-wrapper">
        <video playsinline autoplay muted loop poster="images/poster.png">
          <source src="videos/portugal.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="hero-top">Portugal</div>
      <div class="hero-bottom" aria-hidden="true">Portugal</div>
    </section>
    <Arrow />
  </div>
</main>
