---

---

<style>
  .grid-container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
  }

  .header {
    font-size: 5rem;
    background-color: black;
    color: white;
  }

  .content {
    background-color: #f8f8f8;
  }

  .sidebar {
    background-color: #f2f2f2;
  }

  @media (max-width: 768px) {
    .grid-container {
      display: flex;
      flex-direction: column;
    }
  }
</style>

<main class="grid-container">
  <div class="header">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nisi
      veniam magni ipsa odio aut optio voluptatem sunt error porro!
    </p>
  </div>
  <section class="content">
    <article>
      <p>
        Although there have been a number of women artists, drill artists have
        been predominantly men. The Bronx, New York, United States.
      </p>
      <p>
        Originally from the streets of Chicago, United States, drill is the
        newest subgenre of hip-hop to blow up globally...
      </p>
      <!-- El texto se puede seguir aquí -->
    </article>
    <aside class="sidebar">
      <section>
        <p>Ashley Peña is a Dominican-American artist based in New York...</p>
        <!-- El texto se puede seguir aquí -->
      </section>
    </aside>
  </section>
</main>
