---
const { video, poster } = Astro.props;
---

<style>
  .page3-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  .page3-header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    place-self: center;
    font-size: 3rem;
    background-color: black;
    color: white;
    padding: 0.5rem;
  }

  .page3-video {
    grid-column: 1 / 4;
  }

  .page3-video video {
    width: 100%;
    height: auto;
  }

  .page3-article {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    font-size: 2rem;
    padding: 1rem;
    color: #fff;
  }
</style>

<section class="page3-grid">
  <div class="page3-header">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
  <section class="page3-video">
    <video controls poster={poster}>
      <source src={video} type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </section>
  <section class="page3-article">
    <article>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas
        exercitationem veritatis eum qui totam perspiciatis neque, sed esse
        inventore velit.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quibusdam
        quos dolore voluptas excepturi, voluptates, aspernatur, nemo dolores
        corporis necessitatibus ducimus temporibus similique nulla a totam
        eligendi harum non cum veritatis facere iusto dicta numquam!
      </p>
    </article>
  </section>
</section>
