---

---

<style>
  .page1-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  .page1-header {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    justify-self: center;
    font-size: 3rem;
    background-color: black;
    color: white;
    padding: 0.5rem;
  }

  .page1-content {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    background-color: #f8f8f8;
    padding: 0.5rem;
  }

  .page1-quote {
    font-size: 1rem;
    font-style: italic;
    padding: 0.5rem;
  }

  .page1-photo > img {
    width: 100%;
  }

  @media (max-width: 900px) {
    .page1-grid {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }
  }

  @media (max-width: 500px) {
    .page1-header {
      font-size: 2rem;
    }
  }
</style>
<section class="page1-grid">
  <section class="page1-header">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque debitis
      quidem ipsa placeat ad maxime rem reiciendis? Harum, ab dolorem quisquam
      aspernatur, placeat doloremque similique non numquam sequi dolore quam!
    </p>
    <blockquote class="page1-quote">
      <q>
        Neque debitis quidem ipsa placeat ad maxime rem reiciendis, Rerum,
        distinctio minima. Aspernatur error exercitationem ut? Harum, ab dolorem
        quisquam aspernatur, placeat doloremque similique non numquam sequi
        dolore quam!
      </q>
    </blockquote>
  </section>
  <section class="page1-content">
    <article>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum,
        distinctio minima. Aspernatur error exercitationem ut?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae
        exercitationem corporis repellat eos cumque! Accusamus.
      </p>
      <section class="page1-photo">
        <img
          src="https://img.freepik.com/free-vector/circular-loading-progress-graphic_1014-6.jpg?w=826&t=st=1704365712~exp=1704366312~hmac=be58c6c960f852adb28e1c3763e7742042ea693893bc3d68d74852b742b77982"
          alt="graffiti image"
        />
        <!-- El texto se puede seguir aquí -->
      </section>
    </article>
  </section>
</section>
